.loadBtnWrapper {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 74px;
}

.loadBtn {
  color: #4c3db2;
  border: 1px solid #4c3db2;
  background-color: transparent;
  font-weight: 700;
  width: 176px;
  height: 45px;
  text-transform: uppercase;
  cursor: pointer;
}
